.DS_Store
Thumbs.db

__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/
.coverage
.coverage.*
coverage.xml
nosetests.xml
pytestdebug.log
pip-log.txt

*.egg-info/
*.egg
dist/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/

venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

*.log

.idea/
.vscode/
.pdm.toml
.pdm-python
poetry.lock

jupyter_runtime/
.ipynb_checkpoints/
